{% extends "layout.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

<center><h2><font color='white'>Upload your image below</font></h2></center>

<!--  <form class="ui form" action = {{ url_for('upload_file') }} method = "POST"-->
<!--         enctype = "multipart/form-data">-->
<!--         <input type = "file" name = "file" />-->
<!--         <input type = "submit"/>-->
<!--      </form>-->
<!--TODO Enable user registration and authentication for batch upload-->
{# {% if current_user.is_authenticated %} #}
    <hr>
  <form class="ui form" action = {{ url_for('upload_files') }} method = "POST"
         enctype = "multipart/form-data">
      <input type="file" multiple="" (change)="fileEvent($event)"
         class="inputfile" id="embedpollfileinput" name="file[]"/>
      <label for="embedpollfileinput"
             class="ui huge teal center floated button">
          <i class="ui upload icon"></i>
        Upload images
      </label>
  <form class="ui form" action = {{ url_for('upload_files') }} method = "POST"
         enctype = "multipart/form-data">
      <input type="submit" class="inputfile" id="submitfiles"
             name="submitfiles"/>
      <label for="submitfiles" class="ui huge blue center floated button">
        Submit
      </label>
  </form>
{# {% endif %} #}

<style>
.grid.container {
  margin-top: 5em;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
	span: 3;
}
</style>
{% endblock %}

