{% extends "layout.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

<html>
    <div>
      <h2>This is a list of the files you just uploaded, click on them to
		  Rotate.<br/>
		  Click Download button to download all of them.
	  </h2>

      <ul>
        {% for image in images %}
          <li>
			  <a href="./static/uploads/{{image}}" download="{{ file_name }}"><i
			class="fa fa-download"></i>
				  <img src="../static/uploads/{{image}}"
					   style="width:42px;height:42px;border:0;">
			  </a>
		  </li>
        {% endfor %}
      </ul>
	</div>
	<h1><a href="{{ url_for('download_files') }} "><i
			class="fa fa-download"></i>
		Download</a></h1>
	</div>
</html>
<script>

</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
a:link, a:visited {
  background-color: #03a9f4;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}
</style>
{% endblock %}
