{% extends "layout.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

<html>
	<div>
		<hr>
		<img src="../static/uploads/{{img_name}}" alt="Rotated Image" class="center">
	</div>
	<div>

	<h1><a href="./static/uploads/{{img_name}}" download="{{ file_name }}"><i
			class="fa fa-download"></i>
		Download</a></h1>
	</div>
</html>
<script>
function download(file)
{
 window.location=file;
}
</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
a:link, a:visited {
  background-color: #03a9f4;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}
</style>
{% endblock %}
