{% extends "layout.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

<html>
    <div>
      <h2 class="ui dividing header">This is a list of the files you just
		  uploaded, click on them to
		  Rotate.<br/>
		  Click Download button to download all of them in a zipped archive.
	  </h2>
	</div>
	<div class="ui tiny images">
	{% for image in images %}
			<img src="../static/uploads/{{image}}"
				 style="width:80px;height:80px;border:10;"
				 id="{{ image }}"
				 onclick="rotate(this);"
				 data-angle="0"
			/>
	{% endfor %}
	</div>

	<h1><a href="{{ url_for('download_files') }} "><i
			class="fa fa-download"></i>
		Download</a></h1>
	</div>
</html>

<script>
function rotate(el){
	var image_angle_mapping = {};
	var current_angle = parseInt(el.getAttribute("data-angle"), 10);
	var new_angle = (current_angle + 90) % 360;
	el.setAttribute("data-angle", new_angle);
	el.style.transform = 'rotate(' + new_angle + 'deg)';
	image_angle_mapping[el.id] = new_angle;
	rotate_image_backend(image_angle_mapping);
};
function rotate_image_backend(opts) {
	var post_url = "{{ url_for('rotate_image_api') }}";
	fetch(post_url, {
			method: 'POST',
			 body: JSON.stringify(opts)
		})
		.then(function (data) {
		  console.log('Request success: ', data);
		})
		.catch(function (error) {
		  console.log('Request failure: ', error);
		});
}

</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
a:link, a:visited {
  background-color: #03a9f4;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}
</style>
{% endblock %}
